*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.userdetails{
	width: 100%;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: 100%;
}

.user{
	width: 100%;
	line-height: 2;
	text-align: center;
}
.user table{
	width: 80%;
	height: 200px;
	margin-left:100px;

}	
.user table,th,td{
	border: 2px solid black;
	border-collapse: collapse;
	padding: 10px;
	font-size: 30px;
}
.user td{
	font-size: 22px;
}

.user section button{
	padding: 10px 20px;
	border: none;
	border-radius:20px;
	background-color: blue;
	color: whitesmoke;
	margin: 20px;
	cursor: pointer;	
}
.user section a{
	text-decoration: none;
	color: whitesmoke;
}