{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>AdminLogin</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
	<script src="https://kit.fontawesome.com/eb4a4eb97c.js" crossorigin="anonymous"></script>
</head>
<body>
	<div class="login-container" style="background-image: url('{% static 'images/login_img.jpeg' %}');">
		<form action="{% url 'adminlogin' %}" method="POST" id="form">
			{% csrf_token %}
			<h1>Admin Login</h1>
			<div>
				<label for="username">User Name</label>
				<i class="fas fa-user"></i>
				<input type="text" name="username" id="username" placeholder="username">
			</div>
			<div>
				<label for="password">Password</label>
				<i class="fas fa-lock"></i>
				<input type="password" name="password" id="password" placeholder="password">
			</div>

			<button id="btn" type="submit">Submit</button>
			{% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <h1>{{message}}</h1>
                {% endfor %}        
            </div>
            {% endif %}
			
		</form>
		
	</div>
</body>
</html>