{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Money Tranfer</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/deposit.css'%}">
</head>
<body>
	<div class="transferservice" style="background-image: url('{% static 'images/banking.jpeg' %}');">
		<h1>Hi,{{userdet.user_name}}</h1>
		<div class="transfer">
			<form method="POST" action="{% url 'transfer' userdet.user_id %}">
				{% csrf_token %}
				<div>
					<label>From</label>
					<select name="fromaccno">
						<option></option>
						<option value="{{userdet.acc_no}}">{{userdet.acc_no}}</option>
					</select>
				</div>
				<div>
					<label>To</label>
					<input type="number" name="toaccno" min="1" placeholder="Enter Sender Account No" />
				</div>
				<div>
					<label>Amount</label>
					<input type="number" name="amt" min="1" placeholder="Enter Amount" />
				</div>
				<div>
					<label>Remarks(optional)</label>
					<input type="text" name="remark" placeholder="Enter" />
				</div>
				<div>
					<button type="submit">Send</button>
					<button type="reset">Clear</button>
				</div>	
			</form>	
		</div>		

		{% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <h1>{{message}}</h1>
                {% endfor %}        
            </div>
        {% endif %}
		
		
	</div>

</body>
</html>