{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PasswordReset</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
	<script src="https://kit.fontawesome.com/eb4a4eb97c.js" crossorigin="anonymous"></script>
</head>
<body>
	<div class="login-container" style="background-image: url('{% static 'images/login_img.jpeg' %}');">
		<form method="POST" id="form">
			{% csrf_token %}
			<h1>Password Reset</h1>
			<p style="color: white;padding: 10px 5px;">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
			<div>
				{{form}}
			</div>
			<button id="btn" type="submit">Submit</button>

			{% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <h1>{{message}}</h1>
                {% endfor %}        
            </div>
            {% endif %}
			
		</form>
		
	</div>


</body>
</html>