{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PasswordReset</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
	<script src="https://kit.fontawesome.com/eb4a4eb97c.js" crossorigin="anonymous"></script>
	<style>
		h1,h3{
			text-align: center;
			padding: 10px 5px ;
		}
	</style>
</head>
<body>
	<div class="login-container" style="background-image: url('{% static 'images/login_img.jpeg' %}');color: white;">
		{% if validlink %}
		<form method="POST">
			{% csrf_token %}
			<h1>Change Password</h1>
			{{form.as_p}}
			<button type="submit">Submit</button>
		</form>
		{% else %}
		<h3>
			The Password Reset link was Invalid,Possibly because it has already been used.Please request a new password reset.
		</h3>
		{% endif %}
	</div>	
</body>
</html>