{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PasswordReset</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
	<script src="https://kit.fontawesome.com/eb4a4eb97c.js" crossorigin="anonymous"></script>
	<style>
		h1,h3{
			text-align: center;
			padding: 10px 5px ;
		}
	</style>
</head>
<body>
	<div class="login-container" style="background-image: url('{% static 'images/login_img.jpeg' %}');color: white;">
		<h1>Password Reset Sent</h1>
		<h3>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</h3>

		<h3>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</h3>
	</div>
</body>
</html>