{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>User Registration</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/reg.css' %}">
	<script src="https://kit.fontawesome.com/eb4a4eb97c.js" crossorigin="anonymous"></script>
	
</head>
<body>
	<div class="reg-container" style="background-image: url('{% static 'images/login_img.jpeg' %}');">
		<form method="POST" action="{% url 'userreg' %}">
			{% csrf_token %}
			<h1>User Registration</h1>
			<h3>Enter your Information Correctly</h3>
			<div class="layout">
			<div class="name">
				<label for="username">Create UserName</label>
				<i class="fas fa-user"></i>
				<span>{{form.username}}</span>
			</div>
			<div class="name">
				<label for="fname">First Name</label>
				<i class="fas fa-user"></i>
				<input type="text" name="fname" id="fname" placeholder="Enter FirstName">
			</div>
			<div class="name">
				<label for="lname">Last Name</label>
				<i class="fas fa-user"></i>
				<input type="text" name="lname" id="lname" placeholder="Enter LastName">
			</div>
			</div>
			<div class="layout">
			<div>
				<label for="email">Email</label>
				<i class="fas fa-envelope"></i>
				<input type="email" name="email" id="email" placeholder="Enter Email" required>
			</div>
			<div>
				<label for="password">Enter Password</label>
				<i class="fas fa-lock"></i>
				<span>{{form.password1}}</span>
			</div>
			<div>
				<label for="password2">Confirm Password</label>
				<i class="fas fa-lock"></i>
				<span>{{form.password2}}</span>
			</div>
		</div>
		<div class="layout">
			<div>
				<label for="dob">Date of Birth</label>
				<i class="fa-solid fa-calendar"></i>
				<input type="date" name="dob" id="dob" placeholder=" Enter Date of Birth">
			</div>
			<div>
				<label for="mobile">Mobile Number</label>
				<i class="fa-solid fa-mobile-screen"></i>
				<input type="number" name="mobile" id="mobile" placeholder="Enter Mobile Number">
			</div>
			<div>
				<label for="place">Location</label>
				<i class="fa-solid fa-location-dot"></i>
				<input type="text" name="place" id="place" placeholder="Enter Place">
			</div>
		</div>
		<div class="layout">
			<div>
				<label for="acc_type">Select Account Type</label>
				<i class="fa-solid fa-file-invoice"></i>
				<select name="acctyp" id="acc_type">
					<option></option>
					<option value="savings">Savings</option>
					<option value="current">Current</option>
				</select>
			</div>
			<div>
				<label for="deposit">Deposit Amount <mark>(Min:1000 rs)</mark></label>
				<i class="fa-solid fa-money-check-dollar"></i>
				<input type="number" name="deposit" id="deposit" min="1000" placeholder="Deposit Amount">
			</div>
		</div>
			
			<div class="btns">
				<button id="btn" type="submit">Submit</button>
				<button type="reset">Reset</button>
			</div>	
		</form>

	</div>

</body>
</html>