{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>User Details Edit</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/reg.css' %}">
	<script src="https://kit.fontawesome.com/eb4a4eb97c.js" crossorigin="anonymous"></script>
	
</head>
<body>
	<div class="reg-container" style="background-image: url('{% static 'images/admin_page.jpeg' %}');">
		{% for i in userdet %}
		<form method="POST" action="{% url 'useredit' i.user_id %}">
			{% csrf_token %}
			<h1>User Details Edit </h1>
			<h3>Enter your Information Correctly</h3>
			<div class="layout">
			<div class="name">
				<label for="username">Create UserName</label>
				<i class="fas fa-user"></i>
				<input type="text" name="username" id="username" value="{{i.username}}" placeholder="Enter Username" />
			</div>
			<div class="name">
				<label for="fname">First Name</label>
				<i class="fas fa-user"></i>
				<input type="text" name="fname" id="fname" value="{{i.f_name}}"placeholder="Enter FirstName">
			</div>
			<div class="name">
				<label for="lname">Last Name</label>
				<i class="fas fa-user"></i>
				<input type="text" name="lname" id="lname" value="{{i.l_name}}"placeholder="Enter LastName">
				
			</div>
		</div>
			<div class="layout">
			<div>
				<label for="email">Email</label>
				<i class="fas fa-envelope"></i>
				<input type="email" name="email" id="email" value="{{i.email}}"placeholder="Enter Email" required>
				
    

			</div>
			<div>
				<label for="dob">Date of Birth</label>
				<i class="fas fa-lock"></i>
				<input type="date" name="dob" id="dob" value={{i.dob}} placeholder=" Enter Date of Birth">
			</div>
			<div>
				<label for="mobile">Mobile Number</label>
				<i class="fas fa-lock"></i>
				<input type="number" name="mobile" id="mobile" value="{{i.mobile_no}}"placeholder="Enter Mobile Number">
			</div>
		</div>
			<div class="layout">
			<div>
				<label for="place">Location</label>
				<i class="fas fa-lock"></i>
				<input type="text" name="place" id="place" value="{{i.location}}"placeholder="Enter Place">
			</div>
		</div>
		{% endfor %}
			
			<div class="btns">
				<button id="btn" type="submit">Submit</button>
				<button type="reset">Reset</button>
			</div>	
		</form>
		
	</div>

</body>
</html>